# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data / outputs
outputs/
results/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

*.csv
*.zip
*.png
*.jpg
data/


